<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>

<body class="text-center">
    <div>
        <h1>Detalhar de Carro</h1>
    </div>

    <div>
        <% if (resultado==undefined) { %>
            <div>Carro não encontrado</div>
            <% } else {%>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Placa: <%= resultado.placa %>
                        </h5>
                        <p class="card-text">Modelo: <%= resultado.modelo %><br> </p>
                        <p class="card-text">Cor: <%= resultado.cor %>
                        </p>
                    </div>
                </div>
                <% } %>
                <a href="/carros" class="btn btn-light">Voltar</a>
    </div>
</body>

<footer>
    <%- include("../partials/rodape.ejs") %>
</footer>

</html>